* {
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(#cfe8f3, #eaf3f8);

}
#myfirst_div{
    color: #4a90e2;
    text-align: center;
}

.app {
    
  width: 50%;
  margin: auto;
  background: #e1f1f9;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}


.app-header {
  text-align: center;
  color: #4a90e2;
  position: relative;
}



/* fixing the style of the parent of the input */
.add-task {
  display: flex;
  background: #bcdff1;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  border: none;
  background: transparent;
  /* when i click the border doesnt appear */
  outline: none;
  font-size: 14px;
}
