* {
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(#cfe8f3, #eaf3f8);

}
#myfirst_div{
    color: #4a90e2;
    text-align: center;
}

.app {
    
  width: 50%;
  margin: auto;
  background: #e1f1f9;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}


.app-header {
  text-align: center;
  color: #4a90e2;
  position: relative;
}



/* fixing the style of the parent of the input */
.add-task {
  display: flex;
  background: #bcdff1;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  border: none;
  background: transparent;
  /* when i click the border doesnt appear */
  outline: none;
  font-size: 14px;
}

/* style the button */
.add-task button {
  border: none;
  background: transparent;
  font-size: 22px;
  color: #4a90e2;
  cursor: pointer;
}
/* style of task items  */

.task {
  background: #f7fbfe;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3vh;
  
}


 /*  style the check butn */
.check-btn {
  width: 16px;
  height: 16px;
  border: 2px solid #cfdce6;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  position: relative;
}

.check-btn::after {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 2px;
  font-size: 14px;
  color: white;
  display: none;
}



.task-text {
  flex: 1;
  margin-left: 12px;
  color: #4a90e2;
  font-size: 14px;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  border: none;
  background: transparent;
  cursor: pointer;
}

/*  fix the decoration text xhen we click on the check  */
.task.completed .task-text {
  text-decoration: line-through;
  opacity: 0.6;
}
/*  the color of the backgound  */
.task.completed .check-btn {
  background: #4a90e2;
  background: #4a90e2;
  border-color: #4a90e2;
}
/*  show the check content " done " */
.task.completed .check-btn::after {
  display: block;
}


/*  show error  */
.feedback.error {
  color: red;
}
 /*  saved  */
.feedback.success {
  color: green;
}


.feedback {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 13px;
  height: 18px;
  text-align: center;
}


.completed .task-text 
{

   text-decoration: line-through; 
   }

.completed .check-btn
 { 
  background: #4a90e2;
   border-color: #4a90e2;
 }

